@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: vesterbro;
  src: url(../fonts/vesterbro.otf);
}


/*###### DEFAULTS #######*/
h1 {
  font-family: vesterbro, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #434242;

}

p {
  line-height: 2rem;
  color: #434242;
}

.divider {
  background-color: rgb(67, 66, 66,0.3);
}
/*####### Navbar background: rgb(96,79,111)!important;
    background: linear-gradient(90deg, rgba(96,79,111,1) 0%, rgba(68,101,148,1) 35%, rgba(241,151,163,1) 100%)!important; ########*/
nav ul a,
nav .brand-logo {
  color: white;
  font-family: "Montserrat", sans-serif;
}

nav {
  box-shadow: white;
  background: #333;
}

.brand-logo {
  margin-top: 8px;
}
.sidenav-trigger {
  color: black;
}

.sidenav-overlay {
  opacity: 0!important;
}
nav.scrolled {
  background: rgb(221,94,137);
  background: linear-gradient(90deg, rgba(221,94,137,1) 23%, rgba(232,132,143,1) 46%, rgba(247,187,151,1) 100%)!important;
  background-size: 400% 400%;
  opacity: 1;
  color: white!important;
}



/*####### Landing page ########*/

.landing-page {
  margin-top: 165px;
  color: #fff;
}
 
.tagline {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}
.parallax-container {
  display: block;
  position: relative;
  min-height: 540px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax {
  background: linear-gradient(90deg, rgba(221,94,137,1) 23%, rgba(232,132,143,1) 46%, rgba(247,187,151,1) 100%);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 5s ease infinite;
	animation: gradientBG 5s ease infinite;
}
@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*### Profile ###*/
.image {
    text-align: center;
    max-height: 246px;
    border-radius: 50%;
}

.profile {
    letter-spacing: 1px;
    line-height: 1.5em;
}

.profile-header {
    margin-top: 55px;
}
#profile-header {
  font-family: vesterbro, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: #434242;
}
#description {
    color: #f197a3;
}

/*### Experiences ###*/
#exp-container {
  background: rgba(245, 181, 150, 0.3) url("../pics/down-arrow.png") no-repeat top center;
}

ul.medtec:not(.browser-default)>li {
  list-style-type: square;
  margin-left: 50px;
}

div.allow-tab {
  white-space: pre; 
	tab-size: 8; /*8 is default in css meaning it*/ 
	-moz-tab-size: 8; /*gives them .5 their normal width */ 
	-o-tab-size: 8; 
}

.linkbutt {
  margin-top: 10px;
}
.location-button, .linkbutt {
  color: #f197a3;
  font-size: 21px!important;
}

/*### Abilities ###*/
#abilities-container {
  background: #fff ;
}
#abilities ul > li {
  min-height: 30px;
  padding: 3px 0px;
}

#abilities ul > li:hover {
  background: #F2F2F2;
}

#abilities ul > li .ability-title {
 /* display: block; */
  width: 60%;
}

#abilities ul > li .ability-score {
  float: right;
}

#abilities ul > li .ability-score .star-icon {
  color: #DFE0E0;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


#abilities ul > li:hover .ability-score .star-icon {
  margin-left: 2px;
}



div.allow-tab {
  white-space: pre; 
	tab-size: 8; /*8 is default in css meaning it*/ 
	-moz-tab-size: 8; /*gives them .5 their normal width */ 
	-o-tab-size: 8; 
}

.iconify {
  color: #f197a3;
  font-size: 30px;
}

/*### Contact ###*/

.socmed-icons {
  font-size: 40px;
  color: #f197a3;
  display: inline-block;
  height: 32px;
  width: 32px;
}
#socmed-icons {
  margin-bottom: 25px;
}
#contact ul >li>a:hover {
  color: #000;
  background-color: transparent;
}

/*### MailChimp ###*/
#mc_embed_signup  { 
  clear:  left; 
  font: 14px ; 

}
#mc_embed_signup .button {
  color: #fff;
  background-color: #faa9a7;
  border-color: #faa9a7;
}
#mc_embed_signup .button:hover {
  color: #fff;
  background-color: #5B88B7
}

.form-box {
  color: #faa9a7;
  background-color: #ffffff;
  border-color: #faa9a7;
  height: 500px;
  width: -webkit-fill-available;
  background-color: #fff;
  -webkit-box-shadow: -12px 13px 5px 0px rgba(67,66,66,1);
  -moz-box-shadow: -12px 13px 5px 0px rgba(67,66,66,1);
  box-shadow: -12px 13px 5px 0px rgba(67,66,66,1);
  /* color: rgba(67,66,66,1); */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

/*### Mobile ###*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*##### Scroll Down #####*/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;

  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}