@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=OpenSans);
@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: vesterbro;
    src: url(../fonts/vesterbro.otf);
}


/*###### DEFAULTS #######*/
h1 {
    font-family: vesterbro, sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;

}

p {
  line-height: 2rem;
}

/*####### Navbar background: rgb(96,79,111)!important;
    background: linear-gradient(90deg, rgba(96,79,111,1) 0%, rgba(68,101,148,1) 35%, rgba(241,151,163,1) 100%)!important; ########*/
nav ul a,
nav .brand-logo {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

nav {
    box-shadow: none;
    background: rgb(221,94,137);
    background: linear-gradient(90deg, rgba(221,94,137,1) 23%, rgba(232,132,143,1) 46%, rgba(247,187,151,1) 100%);
}

.brand-logo {
    margin-top: 8px;
}
.sidenav-trigger {
    color: 26a69a;
}

.sidenav-overlay {
    opacity: 0!important;
}
/*##### Scroll Down #####*/
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
 
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
/*####### Landing page ########*/

.landing-page {
    margin-top: 165px;
    color: #fff;
}
 
.tagline {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}
.parallax-container {
  display: block;
  position: relative;
  min-height: 540px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
width: 100%;
}

.parallax {
  background: rgb(221,94,137);
  background: linear-gradient(90deg, rgba(221,94,137,1) 23%, rgba(232,132,143,1) 46%, rgba(247,187,151,1) 100%);
}

/*### Profile ###*/
.image {
    text-align: center;
    max-height: 246px;
    border-radius: 50%;
}

.profile {
    letter-spacing: 1px;
    line-height: 1.5em;
}

.profile-header {
    margin-top: 55px;
}
#profile-header {
    font-family: vesterbro, sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: #5a5f75;
}
#description {
    color: #f197a3;
}
/*### Mobile ###*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
